<div class="widget">
	<div class="widget-title">
		<h3>
			Who am I?
		</h3>
	</div>
	<div class="widget-content">
		<div class="split-container">
			<div class="left-content">
				<div class="img-thumb">
					<img class="img-responsive img-circle" src="/content/images/2014/11/J_v2_square-1.jpg" alt="avatar"/>
				</div>
			</div>
			<div class="right-content">
				<p>
					My name is Jordan Skole, I'm technical marketer.
				</p>
				{{>social-icons}}
			</div>
		</div>
	</div>
</div>
