<div class="widget">
	<div class="widget-title">
		<h3>
			Lets Get In Touch
		</h3>
	</div>
	<div class="widget-content">
		<div class="split-container">
			<div class="left-content">
				<div class="icon-thumb">
					<i class="fa fa-thumbs-o-up"></i>
				</div>
			</div>
			<div class="right-content">
				<p>
				I'm currently too busy for contract or freelance project work. Feel free to contact me through <a href="#" target="_blank">linkedin</a>, <a href="#" target="_blank">twitter</a>, or schedule a call on clarity.fm.
				</p>
				<a class="btn btn-resume" href="http://clarity.fm/jordanskole">
					Schedule a Call
				</a>
			</div>
		</div>
	</div>
</div>
