<div class="widget">
	<div class="widget-title">
		<h3>
			Subscribe Newsletter
		</h3>
	</div>
	<div class="widget-content">
		<div class="form-container">
			<form id="mc-form" action="//jordanskole.us2.list-manage.com/subscribe/post?u=00ce810e3100b769ecb6b2c05&amp;id=6e8026ed94" method="post" novalidate="true">
				<div class="input-group">
					<input id="mc-email" type="email" name="EMAIL" placeholder="Email address" class="form-control" required>
			      	<span class="input-group-btn">
			        	<button class="btn btn-theme" type="submit"><i class="fa fa-long-arrow-right"></i></button>
			      	</span>
			    </div>
			</form>
		</div>
		<div class="split-container inverse">
			<div class="left-content">
				<p>
					Enter your email address to receive weekly email updates with actionable marketing tips.
				</p>
			</div>
			<div class="right-content">
				<div class="icon-thumb">
					<i class="fa fa-paper-plane-o"></i>
				</div>
			</div>
		</div>
	</div>
</div>
