<div id="ouibounce-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thanks for Stopping By!</h4>
      </div>
      <div class="modal-body">
        <p>Do you wish you could clone yourself to get more done? I have created an email course that will teach you to be a marketing automation wizard!</p>
        <p>If you enroll in the course I'll send you 1 email a week, with actionable marketing automation tactics.</p>
        <p>I will never sell your email or solict you in any way. I promise.</p>
        <form class="form-inline" role="form" action="//jordanskole.us2.list-manage.com/subscribe/post?u=00ce810e3100b769ecb6b2c05&amp;id=6e8026ed94">
          <div class="form-group">
            <div class="input-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="jordan@skole.us">
            </div>
            <button type="submit" class="btn btn-default">Teach Me!</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a class="align-center" data-dismiss="modal" href="#dismiss">No thanks Jordan, I prefer tedium.</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
