<div id="ouibounce-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thanks for Stopping By!</h4>
      </div>
      <div class="modal-body">
        <p>Do you wish you could clone yourself to get more done? I have created an email course that will teach you to be a marketing automation wizard!</p>
        <p>If you enroll in the course I'll send you 1 email a week, with actionable marketing automation tactics.</p>
        <p>I will never sell your email or solict you in any way. I promise.</p>
        <form role="form" action="//jordanskole.us2.list-manage.com/subscribe/post?u=00ce810e3100b769ecb6b2c05&amp;id=6e8026ed94" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="form-group">
            <div class="input-group">
              <input type="email" class="form-control" id="mce-EMAIL" placeholder="jordan@skole.us" value="" name="EMAIL" class="required email">
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_00ce810e3100b769ecb6b2c05_6e8026ed94" tabindex="-1" value=""></div>
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Teach Me!</button>
              </span>
            </div><!-- /input-group -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a class="align-center" data-dismiss="modal" href="#dismiss">No thanks Jordan, I prefer tedium.</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
