/*
 * Helper css for the ouibounce modal.
 *
 */

.modal-content p {
  font-size: 16px;
  line-height: 22px;
}

.modal-content .input-group {
  padding: 30px;
}

.modal-content .btn {
  padding: 6px 12px;
  font-size: 14px;
}
